*.o
*~
core
depend
xboot
xdtnorm
xexopar
xhashtab
xgene
xgptree
xparse
xbinary
xlblndx
xllrbtree
xpopnode
xpopnodetab
xsampndx
xsimsched
xstrtab
xterm
xbranchtab
xparstore
xparkeyval
xdiffev
xjobqueue
xdafreader
xrafreader
xmisc
xstrint
legosim
numcores
legofit
tabpat
tabpat.log
daf
try
