*.o
*~
core
depend
bepe
booma
maub
clic
doc
raf
raf2daf
xaddrparmap
xboot
xbooma
xclic
xdtnorm
xhashtab
xerror
xgene
xgptree
xhessian
xmspreader
xparse
xpointbuff
xbinary
xlblndx
xllrbtree
xparam
xpopnode
xpopnodetab
xsampndx
xsimsched
xstate
xstrdblqueue
xstrdblmap
xstrdblstck
xstrparmap
xstrtab
xterm
xtinyexpr
xbranchtab
xparstore
xparkeyval
xpointbuff
xdiffev
xjobqueue
xdafreader
xrafreader
xmisc
xscrmreader
xstrint
xwraparound
joinraf
legosim
numcores
legofit
tabpat
pclgo
scrmpat
sitepat
tabpat.log
daf
try
