*.o
*~
core
depend
xboot
xexopar
xhashtab
xgene
xgptree
xparse
xbinary
xlblndx
xpopnode
xsampndx
xsimsched
xstrtab
xbranchtab
xparstore
xparkeyval
xdiffev
xjobqueue
xvcfreader
xdafreader
xstrint
lego
legofit
tabpat
daf
try
